<div style="text-align:center">
    <div class="card">
        <div class="card-body">
          <h3>Book Details by ID</h3>
          <button type="button" (click)="goBack()">Back</button>
          <hr>
          <h6>Title: </h6><h4>{{ book.title }}</h4>
          <h6>Author: </h6><h4>{{ book.author_firstname }} {{ book.author_lastname }}</h4>
          <p><img class="card-img-top" src="assets\thumbnails\{{ book.cover_thumbnail }}" alt=""></p>
          <hr>
          <button type="button" (click)="goBack()">Back</button>
        </div>
    </div>
</div>
