
<form #bookForm="ngForm" (ngSubmit)="getBooks(bookForm)">

  <table class="table">
    <tr>
      <td> Title: </td>
      <td> <input type="text" id="title" name="title" ngModel> </td>
      <td> Limit:</td>
      <td> <input type="number" min="1" id="limit" name="limit" ngModel> </td>
    </tr>
    <tr>
      <td> Author (FirstName): </td>
      <td> <input type="text" id="author_firstname" name="author_firstname" ngModel> </td>
      <td> Offset:</td>
      <td> <input type="number" min="0" id="offset" name="offset" ngModel> </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit">Search</button>
      </td>
    </tr>
  </table>

</form>

<h1>Search Result: List of Books</h1>

<div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr valign="top">
            <td class="font-weight-bold">id</td>
            <td class="font-weight-bold">cover_thumbnail</td>
            <td class="font-weight-bold">Title</td>
            <td class="font-weight-bold">Author</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of books">
            <td valign="top">{{ b.id }}</td>
            <td valign="top">
              <a [routerLink]="[ '/book', b.id ]">
                <img src="assets\thumbnails\{{ b.cover_thumbnail }}" /></a></td>
            <td valign="top">
              <a [routerLink]="[ '/book', b.id ]">{{ b.title }}</a></td>
            <td valign="top">{{ b.author_firstname }} {{ b.author_lastname }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

